train:
  _target_: src.datasets.Ğ¡ustomAudioDataset
  part: "train"
  dir: "/kaggle/input/dla_dataset"
val:
  _target_: src.datasets.Ğ¡ustomAudioDataset
  part: "val"
  dir: "/kaggle/input/dla_dataset"
